<div class="footer">
    <div class="container">
        <div class="footer_nav1">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">Blogs</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <!-- logo -->
                <li class="logo"><a href="index.ejs"><img src="images/logo.png" alt=""/></a></li>
                <!-- logo -->
                <li><a href="/faq">Faq</a></li>
                <li><a href="/typography">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="copy_right">
            <p>Copyright &copy; 2015.Author by Kyle Qu&&XX.</p>
        </div>
    </div>
</div>A