//
   Created by kyleq on 11/4/2015.

p Hi,#{userName}

div#header
    ul
        li
          a(href='#') Home
        li
          a(href='#') Art
        li
          a(href='#') Picture
        li
          a(href='#') Help


